.allcart {
  width: 100%;
  padding: 0 3%;
  margin: auto;
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center !important;
}

/* sponsor card section */

.sponsor-card,
.card-2,
.brands img {
  transition: 0.5s ease-out;
}

.sponsor-card:hover,
.card-2:hover {
  box-shadow: 2px 2px 2px 3px lightgray !important;
}
/* sponsor card and stores section scroll */

.scrollbar,
.sponsor {
  overflow: auto;
  white-space: nowrap;
}

.btn-2 {
  /* padding: 12px 3.8% !important; */
  font-size: 0.9rem !important;
  background-color: #fff !important;
}

.headin {
  background-color: #94004f !important;
}

.brands img:hover {
  transform: scale(101%) !important;
}

div .card-mobile,
div .todays-mobile {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .card-1 {
    display: block !important;
    width: 20rem !important;
    margin: 5px 20px;
  }

  .third-card {
    overflow: auto !important;
    white-space: nowrap !important;
  }

  div .card-mobile,
  div .todays-mobile {
    display: flex !important;
    white-space: nowrap !important;
    overflow: auto !important;
  }

  div .card-main {
    display: none !important;
  }

  div .tadays-main {
    display: none !important;
  }

  .card-2 {
    display: inline-block !important;
    width: 45% !important;
  }
}

.btn-close {
  background-image: none !important;
  padding: 1px 20px 8px 5px !important;
  margin-right: 10px !important;
}

.show{
    position: absolute;
    top: 135px;
    right: 30px;
}

.cent{
    border-radius: 50%;
    border: 1px solid lightgrey;
    padding: 4px;
    margin-left: 46%;
}

.b{
    border: 1px solid green;
    width: 100%;
    padding: 5px 20px;
    align-content: center;
    margin-bottom: 180px;
}
.m-footer{
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}