/* Nav-bars designs starts here in collaboration with bootstrap's */
.topnav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav div a {
    margin: 0px 25px;
  }
  
  .midnavbar a {
    padding: 20px 30px;
    font-size: 12px;
  }
  
  .midnavbar a:hover {
    background-color: white;
    color: #ed017f !important;
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
  }
  
  .dropdown-content a {
    color: #ed017f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #sub-menu {
    width: 100% !important;
    /* display: none !important; */
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
    color: #ed017f;
  }
  
  .dwnnav div {
    font-size: 12px;
    padding: 10px 0px;
  }
  
  .dwnnav div a {
    padding: 11px 35px;
    overflow-y: hidden;
  }
  
  /* Nav-bar hover effect  */
  .dwnnav a:hover {
    background-color: white;
    color: #ed017f !important;
  }
  
  .mega-flex {
    display: flex;
    width: 100%;
  }
  
  /* Styling all components of the down Navbar */
  .dwnnavbar {
    overflow: hidden;
    background-color: #94004f;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
  }
  
  .mydropdown {
    float: left;
    overflow: hidden;
    color: white;
    gap: 10px;
  }
  
  .mybtn {
    color: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px 20px 8px 10px;
    background-color: inherit;
    font: inherit;
    text-align: center;
  }
  
  .mydropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
  }
  
  .mydropdown-content .myheader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f9f9f9;
    padding-bottom: 30dvh;
    z-index: 3;
  }
  
  .mydropdown:hover .mydropdown-content {
    display: flex;
  }
  
  .one-contents,
  .two-contents,
  .three-contents,
  .four-contents,
  .five-contents,
  .six-contents,
  .seven-contents,
  .eight-contents,
  .nine-contents {
    display: none;
    position: absolute;
    top: 0px;
    left: 200px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .subnav {
    font-size: 14px;
  }
  
  .subnav:hover {
    background-color: white;
  }
  
  .mydropdown:hover {
    color: black !important;
    background-color: white;
  }
  
  .mydropdown:hover .one-contents {
    display: flex;
  }
  
  .one:hover .one-contents,
  .two:hover .two-contents,
  .three:hover .three-contents,
  .four:hover .four-contents,
  .five:hover .five-contents,
  .six:hover .six-contents,
  .seven:hover .seven-contents,
  .eight:hover .eight-contents,
  .nine:hover .nine-contents {
    display: flex;
  }
  
  /* Create three equal columns that floats next to each other */
  .column,
  .column-two {
    float: left;
    width: 15%;
    background-color: white;
    height: 60dvh;
    font-size: 8px;
  }
  
  .column-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    width: 100%;
    font-size: 8px;
    padding-left: 10px;
  }
  
  .column h6,
  .column-two h6 {
    padding-top: 10px;
    font-size: 14px;
    padding-left: 14px;
    font-weight: 700;
    gap: 0;
  }
  
  .column a,
  .column-two a {
    padding: 10px opx;
    float: none;
    color: black;
    padding-left: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
  }
  
  .column a:hover,
  .column-two a:hover {
    color: #ed017f;
  }
  
  /* Clear floats after the columns */
  .myrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .cont-two {
    position: absolute;
    left: 10%;
    width: 90%;
    z-index: 8;
    background-color: white;
  }
  
  .column img,
  .column-two img {
    width: 150%;
    margin-top: 20px;
    padding: 0px 100px 0px 0px;
  }
  
  .divider {
    margin: 20px;
  }
  
  .myrow {
    height: 80%;
    background-color: white;
    z-index: 10;
  }
  
  .myrow-two {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 80%;
    overflow-x: hidden;
  }
  
  .mydropdown:hover .myrow-two {
    display: flex;
  }
  
  /* Designing mobile only and setting display to hide in desktop view */
  .mobile-only {
    display: none !important;
  }
  
  .mobile-only {
    font-size: 14px;
    margin: 10px auto;
  }
  
  .search-mobile-head {
    display: block;
    margin-top: 10px;
  }
  
  input[type="search"] {
    background-color: rgb(218, 212, 212);
    padding: 5px;
  }
  
  .search-mobile {
    position: relative;
    top: 0px;
    left: -6px;
    border: 7px;
    padding: 6px 11px;
    border: 2px solid rgb(218, 212, 212);
    border-radius: 0px 5px 5px 0px;
  }
  
  /* Mobile sidebar design */
  #check,
  #checking {
    display: none;
  }
  
  .sidebar-toggle {
    position: absolute;
    top: 5px;
    font-size: 25px;
  }
  
  .checking-toggle {
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 30px;
    background-color: white;
  }
  
  .sidebar {
    position: absolute;
    left: -300%;
    top: 40px;
    transition: 0.5s;
    background-color: white;
    z-index: 3000;
  }
  
  #check:checked ~ .sidebar {
    left: 0px;
    width: 100%;
  }
  .mlist {
    justify-content: space-between;
  }
  
  .mlist i {
    font-size: 15px;
    color: #8a8787;
  }
  .mlist p {
    font-size: 9px;
  }
  
  .mads {
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    max-height: 50px;
  }
  
  .mads p {
    font-size: 9px;
  }
  
  .mads h5 {
    font-size: 10px;
  }
  
  .mads i {
    font-size: 15px;
  }
  
  .mads .text {
    padding-top: 10px;
  }
  
  .p-button {
    padding-bottom: 120px;
  }
  
  .col-11 {
    font-size: 12px;
  }
  
  .col-1 a {
    text-decoration: none;
    color: #9b9898;
  }
  
  .active,
  .active a i {
    color: #ed017f;
  }
  
  /* Footer design */
  
  .div {
    font-size: 12px;
    margin-left: 20px;
  }
  
  .d-flex {
    font-size: 15px;
  }
  
  .d-flex h3 {
    font-size: 15px;
  }
  
  .deals {
    opacity: 0.5;
  }
  
  .d-flex i {
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 8px;
  }
  
  .d-flex a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }
  
  .d-flex a:hover {
    opacity: 1;
  }
  
  .block {
    display: block;
    width: 100%;
  }
  
  .col a,
  .col-2 {
    color: white;
    /* opacity: 0.5; */
  }
  
  .col a:hover,
  .col-2:hover {
    /* opacity: 1 !important; */
  }
  
  .row a {
    text-decoration: none;
    color: white;
  }
  
  .line::before {
    content: "";
    width: 40%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
  }
  
  .line::after {
    content: "";
    width: 40%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
  }
  
  /* Add Main Content CSS here */
  
  /* Adding Main Content CSS ends here */
  
  /* -------------------------------------------------------------------- */
  
  /* desktop/Laptop responsive design */
  @media only screen and (max-width: 1406px) {
    .dwnnavbar {
      padding-left: 10%;
      font-size: 10px;
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 1010px) {
    .dwnnavbar {
      padding-left: 0%;
    }
    input {
      width: 25dvw !important;
    }
  }
  
  @media only screen and (max-width: 1319px) {
    .midnavbar a {
      padding: 10px 5px !important;
      gap: 0px !important;
      font-size: 10px;
    }
    .topnav div a {
      margin: 0px 10px;
    }
    .navbar-brand img {
      width: 100px;
    }
    .dwnnav div a {
      padding: 11px 2px;
    }
    .mydropdown-content {
      width: 100%;
      left: 0%;
    }
    .cont-two {
      left: 0%;
      width: 100%;
    }
    input {
      width: 25dvw !important;
    }
  }
  
  @media only screen and (max-width: 958px) {
    .topnav div a img {
      width: 80px !important;
      height: 7px;
    }
    input {
      width: 15dvw !important;
    }
    .mybtn {
      padding: 3px 0px;
    }
  }
  
  /* Tablets and Mobile responsive design */
  @media only screen and (max-width: 672px) {
    .midnavbar {
      display: none !important;
    }
    .topnav {
      display: none !important;
    }
  
    .dwnnavbar {
      display: none;
    }
  
    input {
      width: 84dvw !important;
    }
  
    .mobile-only {
      display: block !important;
    }
  
    .desktop-only {
      display: none;
    }
  }
  


  /* BABY KIDS AND TOYS STARTS HERE */

  /* THE STYLING OF THE TOP NAV AND BREAD CRUMB BEGINS HERE */

.topbar{
    margin: 22px;
}

.breadcrumb-item a.home{
text-decoration: none;
color: black;
}

.breadcrumb-item a.home1{
    text-decoration: none;
    color: #9a0052;
}

.breadcrumb{
    font-size: 14px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav p{
    font-size: 12px;
    color: #999595;
}

.title h1{
    font-weight: bold;
    font-size: 29px;
}

.btn-group{
    gap: 0px;
}

.btn-group ul{
    display: flex;
    list-style-type: none;
    margin-left: 3px;
}

.btn-group ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: 12px;
}

.btn-group ul li a.home2{
    border: 1px solid rgb(255, 0, 170);  
}


.btn-group ul li a.home3{
    border: 1px solid #ccc;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.title2{
    justify-content: flex-end;
}

.title4{
    font-size: 14px;
}

/* DESIGN OF THE BODY BEGINS HERE */

.row{
    margin-top: 20px;
}

.container{
    background-color: #ccc;
    display: flex;
}

.amount{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    
}

.amount p{
    text-decoration: line-through;
    opacity: .7;
    margin: auto;
}


.amount h5{
    font-weight: bolder;
    margin-top: 8px;
}

.off{
    background-color: rgba(255,59,59,.2);
    font-size: 12px;
    align-content: center;
    color: #ff3b3b;
    height: 16px;
    border-radius: 10px;
}
.col-md-10 a{
    text-decoration: none;
}

.card{
    border: 0px;
    position: relative;
}

.card:hover{
    box-shadow:  1px 2px 2px 3px rgb(230, 226, 226);
}

.sth{
position: relative;
}


.source{
    font-size: 12px;
}

.source-sold{
    opacity: .7;
}

.source-store{
    color: #644ba0;
}

.source p{
    margin-top: 2px;
}
.source p.hide{
    display: none;
}


.btn.btn-outline.cart{
    border-color: #ed017f;
    font-weight: bolder;
    color: #f84ca2;
}

.btn.btn-outline.cart:hover{
    background-color: #ed017f;
    color: white;
}

.fa-star{
    color: #ccc;
}

.fa-star.checkee{
    color: orange;
}

.fa-brands.fa-gratipay{
    color: #ccc;
}

.fa-brands.fa-gratipay:hover{
    color: orange;
}


/* THIS IS WHERE I STYLED THE SIDE BAR WITH OF ACCORDION */
.accord-button{
    flex-direction: row;
    justify-content: start;
    border: none;
    margin-right: 0;
    text-decoration: none;
    background-color: transparent !important;
    color: black !important;
    font-weight: bolder;
    position: relative;
}



.accord-button::before{
    position: absolute;
    content: '-';
    font-size: 25px;
    right: -80px;
    top: -10px;
    
}



.accord-button.two::before{
    position: absolute;
    content: '-';
    font-size: 25px;
    right: -180px;
    top: -10pxpx;
}

.accord-button.three::before{
    position: absolute;
    content: '-';
    font-size: 25px;
    right: -95px;
    top: -10px;
}

.accord-button.four::before{
    position: absolute;
    content: '-';
    font-size: 25px;
    right: -150px;
    top: -10px;
}

.accord-button.five::before{
    position: absolute;
    content: '-';
    font-size: 25px;
    right: -165px;
    top: -10px;
}

.acordion-collapse.collapse.show.down{
    font-size: 14px;
}
.acordion-collapse.collapse.show.down p{
    margin-top: -20px;
}

.accordion-header.last h6{
    margin-bottom: 30px;
}

.contentin{
    margin-top: 15px;
}

.pppp{
    position: absolute;
    right: -80px;
}

.contentin ul li{
    text-decoration: none;
    font-size: 12px;
    list-style: none;
    margin-left: -32px;
}

.contentin ul li a{
    text-decoration: none;
    color: #1c1d1f;
    position: relative;
}

#accordionPlusMinus .acordion-item ul li a{
    background-color: transparent !important;
    border: none;
}

.btn.btn-outline.go{
    border-color: #ed017f;
    font-weight: bolder;
    color: #f84ca2;
}

.btn.btn-outline.go:hover{
    background-color: #ed017f;
    color: white;
}

.jjyy{
    display: flex;
    justify-content: space-around;
    font-size: 11px;
}

.dtyy.w-25.rounded-0{
    background-color: white;
    font-size: 10px;
    border: none;
}


.ttyy{
    position: relative;
}

.ttyy i{
    position: absolute;
    margin-left: -20px;
    margin-top: 7px;
    color: #6d6d6e;
    
}




.accordion-item{
    background: none !important;
}



.pphhd{
    background-color: #ed017f;
    color: white;
    border: #ed017f;
    
}

.pphhd:hover{
    background-color: #7a0845;
}

.kklldd{
    background-color: #ccc;
    border: none;
}

.kklldd:hover{
    background-color: #6d6d6e;
}

.bottombar{
    /* background-color: #644ba0; */
    
}

.nnbbvv{
    padding-inline: 350px;
    gap: 20px;
    justify-items: center;
    font-size: 13px;
}

.nnbbvv a{
    text-decoration: none;
}

/* THE STYLINE OF THE BOTTOM NOTE STARTS HERE */

.foootnote{
    background-color: white;
    margin-top: 55px;
    padding: 25px;
    justify-content: start;
    color: #b5b5b5;
    text-align: justify;
}

.foootnote h2{
    font-weight: bold;
    font-size: 25px;
}

.foootnote h5{
    font-weight: bold;
    font-size: 15px;
}

.foootnote p{
    font-size: 14px;
}

.foootnote p strong a{
    text-decoration: none;
    color: #b5b5b5;
}




/* MEDIA QUERRY FOR MEDIUM SCREEN */

 @media only screen and (max-width: 767px){
    .col.col-xl-2.col-lg-3.col-md-4.col-sm-0{
        display: none;
    }
    .col.col-xl-10.col-lg-9.col-md-8.col-sm-12{

    }

    .col.mb-4{
        width: 50%;
        
    }

    .card.h-100{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .sth.mt-3{
        width: 40%;
    }

    .card-body{
        width: 65%;
        position: absolute;
        top: -10px;
        right: -13px;
        line-height: 5px;
    }

    .card-body h6{
        font-size: 14px;
    }
    .source.free-shipping.{
        visibility: hidden;
    }

    .source.br{
        display: none;
    }

    .llkkmm p{
        visibility: hidden;
        display: none;
    }

    .btn.btn-outline.d-grid.cart{
        visibility: hidden;
    }
    .amount h5{
        font-size: 15px;
    }
    .amount p{
        font-size: 13px;
    }

    .amount.off{
        font-size: 11px;
    }

    .topbar{
        display: none;
    }   

} 



/* MEDIA QUERRY FOR SMALL SCREEN */

 @media only screen and (max-width: 575px){
    .col.col-xl-2.col-lg-3.col-md-4.col-sm-0{
        display: none;
    }
    .col.col-xl-10.col-lg-9.col-md-8.col-sm-12{

    }

    .col.mb-4{
        width: 100%;
        
    }

    .card.h-100{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .sth.mt-3{
        width: 40%;
    }

    .card-body{
        width: 65%;
        position: absolute;
        top: -10px;
        right: -13px;
        line-height: 5px;
    }

    .card-body h6{
        font-size: 20px;
    }
    .source.free-shipping.{
        visibility: hidden;
    }

    .source{
        margin-top: 15px;
    }

    .source.fa{
        font-size: 23px;
    }

    .llkkmm p{
        visibility: hidden;
        display: none;
    }

    .btn.btn-outline.d-grid.cart{
        visibility: hidden;
    }
    .amount h5{
        font-size: 22px;
    }
    .amount p{
        font-size: 18px;
    }

    .amount.off{
        font-size: 12px;
    }
    .amount{
        margin-top: 10px;
    }

    .topbar{
        display: block;
        position: relative;
        line-height: 15px;
        
    }

    .nav ol li{
        visibility: hidden;
    }

    .btn-group.btn-group-sm{
        visibility: hidden;
    }

    .topbar h1{
        position: absolute;
        top: 0;
            
    }

    .topbar p{
        position: absolute;
        bottom: 0;
           
    }
       

} 












/* .accordion-button{
    width: 100%;
}

.accordion-item .accordion-header::before{
    content: '+';
    color: black;
    /* position: absolute; */
    
}
 




/* THIS IS WHERE I STYLED THE SIDE BAR OF ACCORDIUM */









 