.allcart {
    width: 100%;
    padding: 0 3%;
    margin: auto;
    display: flex !important;
    flex-flow: column nowrap !important;
    justify-content: center !important;
}

/* sponsor card section */




.sponsor-card, .card-2, .brands img {
    transition: .5s ease-out ;
}

.sponsor-card:hover, .card-2:hover{
    box-shadow: 2px 2px 2px 3px lightgray !important;
   
}
/* sponsor card and stores section scroll */

.scrollbar, .sponsor {
    overflow: auto;
    white-space: nowrap;
}



.btn-2 {
    /* padding: 12px 3.8% !important; */
    font-size: .9rem !important;
    background-color: #fff !important;

}

.headin {
    background-color: #94004f !important;

} 


.brands img:hover {
    transform:scale(101%) !important;
}

div .card-mobile,
div .todays-mobile {
    display: none !important;
}



@media screen and (max-width:991px) {

.card-1 {

    display: block !important;
    width: 20rem !important;
    margin: 5px 20px;
}

.third-card {
    overflow: auto !important;
    white-space: nowrap !important;
}

div .card-mobile, 
div .todays-mobile {

    display: flex !important;
    white-space: nowrap !important;
    overflow: auto !important;
}

div .card-main {
    display: none !important;

}

div .tadays-main {
    display: none !important;
}

.card-2 {
    display: inline-block !important;
    width: 45% !important;
}

   


}

 

  



/* .e-mail span a {
    text-decoration: none;
    color: hsla(208, 100%, 97%, 0.7);
    cursor: pointer;
    transition: .5s ease-out;

}

.e-mail {
    flex-basis: 10%;
    transition: .5s ease-out;
}

.mail1 {
    flex-basis: 15%;
    transition: .5s ease-out;
}

.mail1 p {
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .5s ease-out;
}

.e-mail h6, .mail1 h6 {
    transition: .5s ease-out;
}


.mail2 {
    margin-left: 70px;
}

.mail2, .subscribe {
    
    flex-basis: 25%;
}

.e-mail, .mail1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.e-mail i, .mail1 i {
    background-color: #fff;
    color: #000;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50%;

}
.e-mail span:hover h6, .e-mail span:hover a,
.mail1 span:hover h6, .mail1 span:hover p{
    color: aliceblue;
}

.subscribe {
    width: 30%;
}

.subscribe input {
    font-size: 1rem;
    width: 70%;
    padding: 11px;
    border-radius: 5px 0 0 5px;
}

.subscribe button {
    line-height: 22px;
    padding: 12.5px;
    color: aliceblue;
    margin-left: -6px;
    border: none;
    outline: none;
    background-color: #ed017f;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
}

.footer2 {
    background-color: black;
    padding: 0 3%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    flex-basis: 70%;

}



.col h6 {
    margin-bottom: 1.3rem;
    margin-left: 2rem;
    transition: .5s ease-out;
}

.col ul {
    list-style: none;
 


}

.col li a {
    text-decoration: none;
    color: hsla(208, 100%, 97%, 0.7);
    font-size: .9rem;
    font-weight: 200;
    transition: .5s ease-out;
    
  
}
 
.col h6:hover, 
.col h6:focus {
    color:  aliceblue
    
}


.col a:hover, 
.col a:focus {
    color:  aliceblue;
    
}
.connect {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 30%;
    padding-left: 2rem;


}

.connect h6 {
    margin-bottom: 1.8rem;
}
.connect1 {
    display: flex;
    column-gap: 40px;
    cursor: pointer;
}

.connect1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect1 i {
    color: aliceblue;
    font-size: 2rem;
    padding: .5rem;
    
 
}

.connect1 span {
    line-height: 2px;
}

.connect1 span p:first-child {
    font-size: .8rem;
}

.connect1 span p:last-child {
    font-size: 1.1rem;
    font-weight: 700;
}


.connect2 {
    margin-top: 1rem;
}
.connect2 a i {
    color: aliceblue;
    margin-right: .4rem;
    font-size: 1.2rem;
    padding: .7rem;
    border-radius: 50%;
}

.connect2 a .fa-facebook:hover, 
.connect2 a .fa-facebook:focus {
    color: rgba(0, 153, 255, 0.968);
}

.connect2 a .fa-x-twitter:hover, 
.connect2 a .fa-x-twitter:focus {
    color: rgba(0, 213, 255, 0.875);
}

.connect2 a .fa-instagram:hover, 
.connect2 a .fa-instagram:focus {
    color: rgba(236, 34, 34, 0.901);
}

.connect2 a .fa-youtube:hover, 
.connect2 a .fa-youtube:focus {
    color: red
}

.foter em {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
    

}

.foter em::before {
    content: "";
    padding: .1px;
    background-color: hsla(208, 100%, 97%, 0.7);
    flex: 1;
    margin: 0 4px 0 0;

}

.foter em::after {
    content: "";
    padding: .1px;
    background-color: hsla(208, 100%, 97%, 0.7);
    flex: 1;
    margin: 0 0 0 4px;

} */ 

