/* Nav-bars designs starts here in collaboration with bootstrap's */
.topnav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.topnav div a {
  margin: 0px 25px;
}

.midnavbar a {
  padding: 20px 30px;
  font-size: 12px;
}

.midnavbar a:hover {
  background-color: white;
  color: #ed017f !important;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 10px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-content a {
  color: #ed017f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#sub-menu {
  width: 100% !important;
  /* display: none !important; */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: #ed017f;
}

.dwnnav div {
  font-size: 12px;
  padding: 10px 0px;
}

.dwnnav div a {
  padding: 11px 35px;
  overflow-y: hidden;
}

/* Nav-bar hover effect  */
.dwnnav a:hover {
  background-color: white;
  color: #ed017f !important;
}

.mega-flex {
  display: flex;
  width: 100%;
}

/* Styling all components of the down Navbar */
.dwnnavbar {
  overflow: hidden;
  background-color: #94004f;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10%;
}

.mydropdown {
  float: left;
  overflow: hidden;
  color: white;
  gap: 10px;
}

.mybtn {
  color: inherit;
  font-size: 10px;
  border: none;
  outline: none;
  padding: 10px 20px 8px 10px;
  background-color: inherit;
  font: inherit;
  text-align: center;
}

.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

.mydropdown-content .myheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #f9f9f9;
  padding-bottom: 30dvh;
  z-index: 3;
}

.mydropdown:hover .mydropdown-content {
  display: flex;
}

.one-contents,
.two-contents,
.three-contents,
.four-contents,
.five-contents,
.six-contents,
.seven-contents,
.eight-contents,
.nine-contents {
  display: none;
  position: absolute;
  top: 0px;
  left: 200px;
  width: 100%;
  overflow-x: hidden;
}

.subnav {
  font-size: 14px;
}

.subnav:hover {
  background-color: white;
}

.mydropdown:hover {
  color: black !important;
  background-color: white;
}

.mydropdown:hover .one-contents {
  display: flex;
}

.one:hover .one-contents,
.two:hover .two-contents,
.three:hover .three-contents,
.four:hover .four-contents,
.five:hover .five-contents,
.six:hover .six-contents,
.seven:hover .seven-contents,
.eight:hover .eight-contents,
.nine:hover .nine-contents {
  display: flex;
}

/* Create three equal columns that floats next to each other */
.column,
.column-two {
  float: left;
  width: 15%;
  background-color: white;
  height: 60dvh;
  font-size: 8px;
}

.column-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  width: 100%;
  font-size: 8px;
  padding-left: 10px;
}

.column h6,
.column-two h6 {
  padding-top: 10px;
  font-size: 14px;
  padding-left: 14px;
  font-weight: 700;
  gap: 0;
}

.column a,
.column-two a {
  padding: 10px opx;
  float: none;
  color: black;
  padding-left: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

.column a:hover,
.column-two a:hover {
  color: #ed017f;
}

/* Clear floats after the columns */
.myrow:after {
  content: '';
  display: table;
  clear: both;
}

.cont-two {
  position: absolute;
  left: 10%;
  width: 90%;
  z-index: 8;
  background-color: white;
}

.column img,
.column-two img {
  width: 150%;
  margin-top: 20px;
  padding: 0px 100px 0px 0px;
}

.divider {
  margin: 20px;
}

.myrow {
  height: 80%;
  background-color: white;
  z-index: 10;
}

.myrow-two {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 80%;
  overflow-x: hidden;
}

.mydropdown:hover .myrow-two {
  display: flex;
}

/* Designing mobile only and setting display to hide in desktop view */
.mobile-only {
  display: none !important;
}

.mobile-only {
  font-size: 14px;
  margin: 10px auto;
}

.search-mobile-head {
  display: block;
  margin-top: 10px;
}

input[type='search'] {
  background-color: rgb(218, 212, 212);
  padding: 5px;
}

.search-mobile {
  position: relative;
  top: 0px;
  left: -6px;
  border: 7px;
  padding: 6px 11px;
  border: 2px solid rgb(218, 212, 212);
  border-radius: 0px 5px 5px 0px;
}

/* Mobile sidebar design */
#check,
#checking {
  display: none;
}

.sidebar-toggle {
  position: absolute;
  top: 5px;
  font-size: 25px;
}

.checking-toggle {
  position: absolute;
  top: -40px;
  left: 0px;
  font-size: 30px;
  background-color: white;
}

.sidebar {
  position: absolute;
  left: -300%;
  top: 40px;
  transition: 0.5s;
  background-color: white;
}

#check:checked ~ .sidebar {
  left: 0px;
  width: 100%;
}
.mlist {
  justify-content: space-between;
}

.mlist i {
  font-size: 15px;
  color: #8a8787;
}
.mlist p {
  font-size: 9px;
}

.mads {
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  max-height: 50px;
}

.mads p {
  font-size: 9px;
}

.mads h5 {
  font-size: 10px;
}

.mads i {
  font-size: 15px;
}

.mads .text {
  padding-top: 10px;
}

.p-button {
  padding-bottom: 120px;
}

.col-11 {
  font-size: 12px;
}

.col-1 a {
  text-decoration: none;
  color: #9b9898;
}

.active,
.active a i {
  color: #ed017f;
}

/* Footer design */

.div {
  font-size: 12px;
  margin-left: 20px;
}

.d-flex {
  font-size: 15px;
}

.d-flex h3 {
  font-size: 15px;
}

.deals {
  opacity: 0.5;
}

.d-flex i {
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 8px;
}

.d-flex a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

.d-flex a:hover {
  opacity: 1;
}

.block {
  display: block;
  width: 100%;
}

.col a,
.col-2 {
  color: white;
  opacity: 0.5;
}

.col a:hover,
.col-2:hover {
  opacity: 1 !important;
}

.row a {
  text-decoration: none;
  color: white;
}

.line::before {
  content: '';
  width: 40%;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.line::after {
  content: '';
  width: 40%;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

kel

/* Add Main Content CSS here */

/* Adding Main Content CSS ends here */

/* -------------------------------------------------------------------- */

/* desktop/Laptop responsive design */
@media only screen and (max-width: 1406px) {
  .dwnnavbar {
    padding-left: 10%;
    font-size: 10px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1010px) {
  .dwnnavbar {
    padding-left: 0%;
  }
  input {
    width: 25dvw !important;
  }
}

@media only screen and (max-width: 1319px) {
  .midnavbar a {
    padding: 10px 5px !important;
    gap: 0px !important;
    font-size: 10px;
  }
  .topnav div a {
    margin: 0px 10px;
  }
  .navbar-brand img {
    width: 100px;
  }
  .dwnnav div a {
    padding: 11px 2px;
  }
  .mydropdown-content {
    width: 100%;
    left: 0%;
  }
  .cont-two {
    left: 0%;
    width: 100%;
  }
  input {
    width: 25dvw !important;
  }
}

@media only screen and (max-width: 958px) {
  .topnav div a img {
    width: 80px !important;
    height: 7px;
  }
  input {
    width: 15dvw !important;
  }
  .mybtn {
    padding: 3px 0px;
  }
}

/* Tablets and Mobile responsive design */
@media only screen and (max-width: 672px) {
  .midnavbar {
    display: none !important;
  }
  .topnav {
    display: none !important;
  }

  .dwnnavbar {
    display: none;
  }

  input {
    width: 84dvw !important;
  }

  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none;
  }
}

/* main content start here */

section {
  font-size: 10px;
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

.relevance a {
  border: 1px solid #9b9898;
  border-collapse: collapse;
  padding: 3px 5px;
  font-size: 10px;
}

.relevance a:hover {
  border: 1px solid #ed017f;
}

.accordion-item .accordion-button {
  background-color: #f9f9f9;
  border-top-left-radius: none;
  border-top-right-radius: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E") !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f9f9f9 !important;
}

.accordion-body {
  background-color: #f9f9f9;
}

.accordion-body {
  background-color: #f9f9f9;
}

.accordion ul {
  padding: 0px;
  font-size: 12px;
}

.accbtn button:hover {
  background-color: #ed017f;
}

.branding-list li {
  margin: 5px 0px;
}

.card {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-logo {
  position: absolute;
  top: 5px;
  left: 0px;
}

.fa-heart {
  background-color: #8a8787;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 5px;
}

.fa-heart:hover {
  background-color: #fba100;
}

.card-img-top {
  height: 180px;
  height: 180px;
  margin: 10px auto;
  cursor: pointer;
}

.card:hover {
  box-shadow: 3px 3px 10px #b4b0b0;
}

.row {
  margin-bottom: 20px;
}
