

.container-wrap{
    overflow-x: hidden;
}


.header-min{
    margin-top: -2px;
    padding: 0.5px;
}

.icon{
    display: flex;
    gap: 30px;
}



.flex{
    position: relative;
    display:flex;
    margin-top: 58px;


}
.move {
    display:flex;
    flex-direction: column;
    position: absolute;
   margin-left: 80px;
   margin-top: -7px;
    
   
}
.sup{
    margin-top: -5px;

}

.text{
    text-decoration: none;
}

 .header{

    border-bottom: 2px solid gray;
    position: fixed;
    top: 0;

 }

 /* footer design here */

footer{
    padding: 10px 0px;
    margin-top: 48px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;  
    
    }
    
    footer ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: black;
    
    }
    
    footer ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    }
    
    footer span{
    font-size: 12px;
    font-weight:400;
    }
    



