

.container-fluid{
    position: relative;
   
}

.youtube a{
    color: black;
}

.icon{

    margin-right: 20px;
}
.icon a{
    padding: 10px;
}

.move{
    margin-top: 70px; 
    display: flex;
}

.trend{
    margin-left: 20px;
    font-size: 35px;
    margin-top: 5px;
}

.txt{
    font-size: large;
    margin-right: 30px;
    margin-top: 20px;
    
  
}
 .tems{
    text-decoration: none;
    margin-top: 20px;

 } 
 nav{
    border-bottom: 2px solid gray;
 }   

.spec{
    margin-top: 40px;

}

.spec a:hover{
    padding-bottom: 14px;
    border-bottom: 2px solid gray;
     
 
  }


/* footer design here */

footer{
    padding: 10px 0px;
    margin-top: 48px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;  
    
    }
    
    footer ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: black;
    
    }
    
    footer ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    }
    
    footer span{
    font-size: 12px;
    font-weight:400;
    }
    


